<head>
  <style>
    .footer-container {
      text-align: center;
      padding: 10px;
      background-color: transparent;
      border-top: none;
      height: auto;
    }

    .footer-container p {
      margin: 5px 0;
      color: white;
    }

    .footer-link {
      color: white;
      text-decoration: none;
    }

    .footer-link:hover {
      text-decoration: underline;
    }
  </style>
</head>

<footer th:fragment="footer">
  <div class="footer-container">
    <p>&copy; 2025 DankoHandmade. All rights reserved.</p>
    <p>
      <a th:href="@{/about}" class="footer-link">About</a> |
      <a href="/contact" class="footer-link">Contact</a> |
      <a href="/shop-policies" class="footer-link">Shop Policies</a>
    </p>
  </div>
</footer>
