<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="intro">
    <h1>About the Shop</h1>
    <p>In a world filled with mass-produced items, we offer you something truly unique. Our pottery is a labor of love, a fusion of tradition and modern artistry, and a piece of Bulgaria's rich heritage brought to your home.</p>
    <p>At Danko's Ceramics Workshop, we create pottery with character and style. Each piece is a work of art, shaped by hand, and painted with care. We draw inspiration from the enchanting beauty of the Bulgarian mountains, the endless blue skies, the warm hues of autumn, and the cozy fireside glow. Our pottery embodies the elements and love harnessed from the power of the earth.</p>
    <p>Our pottery lines are more than just items; they carry the specific atmosphere and tradition of the Balkan Peninsula. Every piece we create is an expression of our passion for pottery and our commitment to preserving and sharing the cultural richness of Bulgaria.</p>
    <p>By choosing Danko's Ceramics Workshop, you're not just buying pottery; you're bringing home a piece of history and a slice of our hearts. Thank you for being part of our journey, and we look forward to creating more beautiful memories with you.</p>
</div>

</body>
<footer>
    <p>&copy; 2025 DankoHandmade</p>
</footer>
</html>